<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{./include/basic-layout :: 함수( ~{:: .wrap } ) }">
	
	<div class="wrap">
		<main id="main" class="main" style="background-color: #f6f9ff;">
			<section class="section">
				<div class="row">
					<div class="col-lg-7" style="margin:0 auto;">
						<div class="card">
							<div class="card-body" style = "padding: 20 100px 30px 100px;">
								<h5 class="card-title">글 수정</h5>
								<form action="board-modify-form" id="boadModifyForm" method="post" enctype="multipart/form-data">
									<div class="row mb-3">
										<label class="col-sm-2 col-form-label">카테고리</label> 
										<input type="hidden" th:value="${vo.boardCategory}" id="boardCategory">
										<input type="hidden" th:value="${vo.boardProcess}" id="boardProcess">
										<input type="hidden" id="pjNum" th:name="pjNum" th:value="${vo.pjNum}">
										<input type="hidden" id="boardNum" th:name="boardNum" th:value="${vo.boardNum}">
										<input type="hidden" id="pjStartdate" th:name="pjStartdate" th:value="${pjVO.pjStartdate}">
                                    	<input type="hidden" id="pjEnddate" th:name="pjEnddate" th:value="${pjVO.pjEnddate}">
										 
										 <!-- 파일 취소를 눌렀을때 초기화 처리 문제 -->
										 <input type="hidden" id="changeChk" th:name="changeChk" th:value="N">
										<div class="col-sm-10">
											<select id = "categorySelect" name="categorySelect" class="form-select" style="height: 34px; font-size: 100%; padding: 6px 12px;">				
												<option value="개발">개발</option>
												<option value="기획">기획</option>
												<option value="논의">논의</option>
												<option value="제안">제안</option>
											</select>
										</div>
									</div>
									
									<div class="row mb-3">
										<label class="col-sm-2 col-form-label">진행 과정</label>
										<div class="col-sm-10">
											<select id="processSelect" name="processSelect" class="form-select" style="height: 34px; font-size: 100%; padding: 6px 12px;">									
												<option value="진행">진행</option>
												<option value="완료">완료</option>
											</select>
										</div>
									</div>
									
									<div class="row mb-3">
										<label for="inputWriter" class="col-sm-2 col-form-label">작성자</label>
										<div class="col-sm-10">
											 <span id="writer" th:name="${session.user_id}" th:value="${session.user_name}" type="text" class="form-control">[[${session.user_name}]]</span>
										</div>
									</div>
									

									<div class="row mb-3">
										<label for="inputTitle" class="col-sm-2 col-form-label">제목</label>
										<div class="col-sm-10">
											<input name="boardTitle" type="text" class="form-control" th:value="${vo.boardTitle}">
											<div id="titleWarning" style="color: red; font-size: 14px; float: right;"></div>
										</div>
									</div>
									
									 <div class="row mb-3">
										<label for="fileMemo" class="col-sm-2 col-form-label"></label>
										<div class="col-sm-10">
											<span style="color: blue">.xls, .xlsx, .hwp, .img, .jpeg, .png만 가능합니다.</span>
										</div>
									</div>	
									
									<div class="row mb-3">
										<label for="FileUpload" class="col-sm-2 col-form-label">파일 업로드</label>
										<div class="col-sm-10">
											<input name="fileUpload" class="form-control" type="file" multiple id="formFile">
											<div id="fileNames">
												<ul style="margin-top: 10px">
													<li th:each="fvo, status: ${fvo}">[[${fvo.boardfileName}]]</li> 
												</ul>
											</div>
										</div>
									</div>
									
									<div class="row mb-3">
                                        <label for="projectDate" class="col-sm-2 col-form-label">기간</label>
                                        <div class="col-sm-10">
                                       		<input name="pjDate" class="form-control" readonly th:value="${pjVO.pjStartdate} + ' ~ ' + ${pjVO.pjEnddate}">
                                       </div>
                                    </div>
									
									<div class="row mb-3">
									<label for="projectDate" class="col-sm-2 col-form-label"></label>
										<div class="col-sm-10">
											<span style="color: blue">시작일과 종료일은 기간에 맞게 설정해주세요</span>
										</div>
									</div>	
									
									<div class="row mb-3">
										<label for="inputStartDate" class="col-sm-2 col-form-label">시작일</label>
										<div class="col-sm-10">
											<input name="startDate" type="date" class="form-control" th:value="${vo.boardStartdate}" onkeydown="return false">
											<span id="startWarning" style="color: red; font-size: 14px; float: right;"></span>
										</div>
									</div>
			
									<div class="row mb-3">
										<label for="inputEndDate" class="col-sm-2 col-form-label">완료일</label>
										<div class="col-sm-10">
											<input name="endDate" type="date" class="form-control" th:value="${vo.boardEnddate}" onkeydown="return false">
											<span id="endWarning" style="color: red; font-size: 14px; float: right;"></span>
										</div>
									</div>

									<div class="row mb-3">
										<label for="inputDescription" class="col-sm-2 col-form-label">세부 내용</label>
										<div class="col-sm-10">
											<div>
												<textarea id="summernote" name="description">[[${vo.boardContent}]]</textarea>
												<span id="contentWarning" style="color: red; font-size: 14px; float: right;"></span>
											</div>
										</div>
									</div>

									<div class="row mb-3">
										<div style="width:100%;">
											<button id="modiSuccess" type="button" class="btn btn-primary" style="float:right;">수정 완료</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>

</th:block>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="/assets/js/board-modify.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

</html>