<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{./include/basic-layout :: 함수( ~{:: .wrap } ) }">

<div class="wrap">

  <main id="main" class="main">



    <div class="pagetitle">
      <h1>공지사항</h1>

    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">



          <div class="card">
            <div class="card-body" style="padding: 0px 50px 20px 50px;">
              <div style="margin: 20px 0px;height:40px">
								<!-- 검색창 -->
               					<div class="search-bar" >
			      				<form class="search-form d-flex align-items-center" method="GET" action="notice-list" style="justify-content:right;" >
								<input type="hidden" name="page" th:value="1">
								<input type="hidden" name="amount" th:value="${pageVO.amount}">
			      				<div style="border:1px solid #E0E5EE; border-radius:15px;">
			      					<select name="searchType" class="form-select" style="float:left;height:34px;width:220px;margin:10px;border:none">
			      					<!-- 검색키워드 화면에서 유지시킴 -->
										<option value="title" th:selected="${pageVO.cri.searchType} == 'title'">제목</option>
										<option value="regdate" th:selected="${pageVO.cri.searchType} == 'regdate'">작성일</option>
									</select>
       								<input type="text" name="search" th:value="${pageVO.cri.search}" placeholder="Search" title="Enter search keyword" style=" border:none; padding-top:15px; outline:none;">
			        				<button type="submit" title="Search" style="background-color:transparent; border:none; padding-right:18px"><i class="bi bi-search"></i></button>
			        				<a class="page-link" th:href="@{notice-list(page=${page}, amount=${pageVO.amount}, search=${pageVO.cri.search}, searchType=${pageVO.cri.searchType})}">[[${page}]]</a>

			        			</div>
			    				</form>
			    				</div><!-- End Search Bar -->
			    				<!-- 몇개씩 보기 -->
			    					<div>결과: [[${pageVO.total}]]건
										<select id="handleAmount" class="form-select" style="float: right;height:34px;width : 140px; margin-bottom:7px">
											<option value="10" th:selected="${pageVO.amount} == 10">10개 보기</option>
											<option value="20" th:selected="${pageVO.amount} == 20">20개 보기</option>
											<option value="50" th:selected="${pageVO.amount} == 50">50개 보기</option>
										</select>
									</div>
								</div>



              <!-- 게시판 리스트 -->
              <table class="table">
                <thead>
                  <tr style="border-top:1px solid ; border-color:inherit;">
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일</th>
                  </tr>
                </thead>

                <tbody>
                <th:block th:each="vo, stat: ${AdminNoticeList}">
                  <tr>
                    <td>[[${(pageVO.page -1) * pageVO.amount + stat.count }]]</td><!-- 1, 11, 21페이지부터 시작하기위해 -->
                    <td style="width:40%"><a href="/userboards/notice-content?noticeNum="th:attrappend="href=${vo.noticeNum}">[[${vo.noticeTitle}]]</a></td>
                    <td>[[${vo.noticeWriter}]]</td>
                    <td>[[${ #dates.format(vo.noticeRegdate, 'yyyy-MM-dd') }]]</td>
                  </tr>
                </th:block>

                </tbody>
              </table>
			<!-- 유저가 보는 게시판은 글 작성 버튼이 필요없음  -->
			<!--
				 <div style="display:flex; justify-content:right;">
			 		<button type="button" class="btn btn-dark">글쓰기</button>
				</div>
			 -->
            </div>
            <!-- 페이지네이션 -->
	            <div style="margin: 0 auto">
            	<div>
	                <ul class="pagination">
	                  <!-- 이전 버튼 -->
	                  <li th:class="${pageVO.prev == true ? 'page-item':'page-item disabled'}">
	                  		<a class="page-link" th:href="@{notice-list(page=${pageVO.start-1},amount=${pageVO.amount},search=${pageVO.cri.search} , searchType=${pageVO.cri.searchType})}" >이전</a>
	                  </li>

					  <th:block th:each="page : ${pageVO.pageList}">
						<li th:class="${page == pageVO.page ? 'page-item active' : 'page-item'}">
							<a class="page-link" th:href="@{notice-list(page=${page}, amount=${pageVO.amount} )}">[[${page}]]</a>
						</li>
					  </th:block>
					<!-- 다음 버튼 -->
					  <li th:class="${pageVO.next == true ? 'page-item':'page-item disabled'}">
	                  		<a class="page-link" th:href="@{notice-list(page=${pageVO.end+1},amount=${pageVO.amount},search=${pageVO.cri.search} , searchType=${pageVO.cri.searchType})}" >다음</a>
	                  </li>

	                </ul>
	              </div>
          		</div>
        </div>
      </div>
    </section>




  </main><!-- End #main -->

  </div>

</th:block>

<!-- ~개씩 보기 -->
<script>

	var handleAmount = document.getElementById("handleAmount");
	handleAmount.onchange = function(e) {

  		const form = document.querySelector('form');
 		const query = new URLSearchParams(window.location.search);
  		query.set('amount', e.target.value);
 		const search = query.toString();
  		const page = query.get('page') || 1;
  		const url = `notice-list?page=${page}&${search}`;
  		window.location.href = url;
}




</script>



</html>