<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{./include/basicLayout :: 함수( ~{:: .wrap } ) }">

	<div class="wrap">
		<main id="main" class="main">
			<div class="pagetitle">
				<h1 class="card-title">
					<i class="bx bxs-star"></i> [[${pjVO.pj_name}]]
				</h1>
				<h6 style="padding-bottom: 20px">
					<i class="ri-bookmark-fill"></i> [[${pjVO.pj_description}]]
				</h6>
				<!-- 프로젝트 이름과 상세 내용 아래 메뉴 -->
				<nav>
					<ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
						<li class="nav-item" role="presentation" style="width: 10%">
							<button class="nav-link w-100" id="home-tab" data-bs-toggle="tab"
								data-bs-target="#bordered-justified-home" type="button" role="tab" aria-controls="home"
								aria-selected="true" onclick="location.href='/project/projectStarted'">홈</button>
						</li>
						<li class="nav-item" role="presentation" style="width: 10%">
							<button class="nav-link w-100 active" id="profile-tab" data-bs-toggle="tab"
								data-bs-target="#bordered-justified-profile" type="button" role="tab"
								aria-controls="profile" aria-selected="false"
								onclick="location.href='/userboards/teamBoardList'">게시판</button>
						</li>
						<li class="nav-item" role="presentation" style="width: 10%">
							<button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab"
								data-bs-target="#bordered-justified-contact" type="button" role="tab"
								aria-controls="contact" aria-selected="false"
								onclick="location.href='/project/projectCalendar'">캘린더</button>
						</li>
						<li class="nav-item" role="presentation" style="width: 10%">
							<button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab"
								data-bs-target="#bordered-justified-contact" type="button" role="tab"
								aria-controls="contact" aria-selected="false"
								onclick="location.href='/project/projectUserTeamChart'">진척률</button>
						</li>
					</ul>
				</nav>
			</div>


			<section class="section">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body" style="padding: 20px 70px 20px 70px;">
								<div style="margin: 20px 0px;height:40px">

									<!-- 검색창 -->
									<div class="search-bar">
										<form class="search-form d-flex align-items-center" method="GET"
											action="noticeTableList" style="justify-content:right;">
											<div style="border:1px solid #E0E5EE; border-radius:15px;">
												<select name="searchType" class="form-select"
													style="float:left;height:34px;width:120px;margin:10px;border:none">

													<!-- 검색키워드 화면에서 유지시킴 -->
													<option value="category">카테고리</option>
													<option value="title">글 제목</option>
													<option value="writer">작성자</option>
													<option value="regdate">작성일</option>
												</select>
												<input type="text" name="search" placeholder="Search"
													title="Enter search keyword"
													style=" border:none; padding-top:15px; outline:none;">
												<button type="submit" title="Search"
													style="background-color:transparent; border:none; padding-right:18px"><i
														class="bi bi-search"></i></button>
											</div>
										</form>
									</div>

								</div>

								<!-- 진행 과정 확인 -->
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">전체보기</a></li>
									<li class="breadcrumb-item"><a href="index.html">완료</a></li>
									<li class="breadcrumb-item active"><a href="index.html">진행</a></li>
								</ol>
								
								<!-- 결과, 몇개씩 보기 -->
								<div>
									<div style="padding-bottom: 10px; float:left">결과: 건</div>							
									<select id="handleAmount" class="form-select"
										style="float: right;height:34px;width : 140px; margin-bottom:7px">
										<option value="10">10개 보기</option>
										<option value="20">20개 보기</option>
										<option value="50">50개 보기</option>
									</select>
								</div>

								<!-- 게시판 -->
								<table class="table">
									<thead>
										<tr style="border:1px solid; border-color:inherit;">
											<th scope="col" style="border:1px solid; border-color:inherit; text-align: center;" >글 번호</th>
											<th scope="col" style="border:1px solid; border-color:inherit; text-align: center;">카테고리</th>
											<th scope="col" style="border:1px solid; border-color:inherit; text-align: center;">글 제목</th>
											<th scope="col" style="border:1px solid; border-color:inherit; text-align: center;">작성자</th>
											<th scope="col" style="border:1px solid; border-color:inherit; text-align: center;">작성일</th>
											<th scope="col" style="border:1px solid; border-color:inherit; text-align: center;">진행 과정</th>
											<!-- 완료, 진행 중 -->
										</tr>
									</thead>
									
									<tbody>
										<tr>
											<th scope="row" style="border:1px solid; border-color:inherit; text-align: center;">1</th>
											<td style="border:1px solid; border-color:inherit; text-align: center;">개발</td>
											<td style="border:1px solid; border-color:inherit;"><a href="teamBoardContent">개발/컨트롤러 구성</a></td>
											<td style="border:1px solid; border-color:inherit; text-align: center;">이동민</td>
											<td style="border:1px solid; border-color:inherit; text-align: center; ">2023-03-02</td>
											<td style="border:1px solid; border-color:inherit; text-align: center;">진행</td>
										</tr>

										<tr class="table-success">
											<th scope="row" style="border:1px solid; border-color:inherit; text-align: center;">1</th>
											<td style="border:1px solid; border-color:inherit; text-align: center;">개발</td>
											<td style="border:1px solid; border-color:inherit;"><a href="teamBoardContent">개발/컨트롤러 구성</a></td>
											<td style="border:1px solid; border-color:inherit; text-align: center;">이동민</td>
											<td style="border:1px solid; border-color:inherit; text-align: center; ">2023-03-02</td>
											<td style="border:1px solid; border-color:inherit; text-align: center;">진행</td>
										</tr>

									</tbody>
								</table>
								
								<!-- 글 작성 버튼  -->
								<div style="display:flex; justify-content:right;">
									<button type="button" class="btn btn-primary"
										onclick="location.href='/userboards/teamBoardRegist'">글 작성</button>
								</div>
							</div>
							
							<!-- 페이지네이션 -->
							<nav aria-label="Page navigation example" style="display:flex; justify-content:center; padding-bottom: 20px;">
								<ul class="pagination">
									<li class="page-item">
										<a class="page-link" href="#" aria-label="Previous">
											<span aria-hidden="true">&laquo;</span>
										</a>
									</li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item">
										<a class="page-link" href="#" aria-label="Next">
											<span aria-hidden="true">&raquo;</span>
										</a>
									</li>
								</ul>
							</nav>

						</div>
					</div>
				</div>
			</section>

		</main>
	</div>

</th:block>

</html>