<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{./include/basicLayout :: 함수( ~{:: .wrap } ) }">

<div class="wrap">

  <main id="main" class="main">
	
	<div class="pagetitle">
				<h1 class="card-title">
					<i class="bx bxs-star"></i> 공부 프로젝트
				</h1>
				<h6 style="padding-bottom: 20px">
					<i class="ri-bookmark-fill"></i> 열심히 공부해서 정처기 따기
				</h6>

				<nav>
					<!-- Bordered Tabs Justified -->
					<ul class="nav nav-tabs nav-tabs-bordered d-flex"
						id="borderedTabJustified" role="tablist">
						<li class="nav-item" role="presentation" style="width: 10%">
							<button class="nav-link w-100" id="home-tab"
								data-bs-toggle="tab" data-bs-target="#bordered-justified-home"
								type="button" role="tab" aria-controls="home"
								aria-selected="true"
								onclick="location.href='/project/projectStarted'">홈</button>
						</li>
						<li class="nav-item" role="presentation" style="width: 10%">
							<button class="nav-link w-100 active" id="profile-tab"
								data-bs-toggle="tab"
								data-bs-target="#bordered-justified-profile" type="button"
								role="tab" aria-controls="profile" aria-selected="false"
								onclick="location.href='/userboards/teamBoardList'">게시판</button>
						</li>
						<li class="nav-item" role="presentation" style="width: 10%">
							<button class="nav-link w-100" id="contact-tab"
								data-bs-toggle="tab"
								data-bs-target="#bordered-justified-contact" type="button"
								role="tab" aria-controls="contact" aria-selected="false"
								onclick="location.href='/project/projectCalendar'">캘린더</button>
						</li>
						<li class="nav-item" role="presentation" style="width: 10%">
							<button class="nav-link w-100" id="contact-tab"
								data-bs-toggle="tab"
								data-bs-target="#bordered-justified-contact" type="button"
								role="tab" aria-controls="contact" aria-selected="false"
								onclick="location.href='/project/projectUserTeamChart'">진척률</button>
						</li>
					</ul>
				</nav>
			</div>
			<!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          

          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <!-- 일정관리 겁색창 -->
               <div class="search-bar" >
			      <form class="search-form d-flex align-items-center" method="POST" action="#" style="justify-content:right;" >
			      	<div style="border:1px solid gray; border-radius:4px">
			        <input type="text" name="query" placeholder="Search" title="Enter search keyword" style=" border:none; padding:10px; outline:none;">
			        <button type="submit" title="Search" style="background-color:transparent; border:none;"><i class="bi bi-search"></i></button>
			        </div>
			      </form>
			    </div><!-- End Search Bar -->
			    
             
              <nav>
		        <ol class="breadcrumb">
		          <li class="breadcrumb-item"><a href="index.html">전체보기</a></li>
		          <li class="breadcrumb-item"><a href="index.html">완료</a></li>
		          <li class="breadcrumb-item active"><a href="index.html">미완료</a></li>
		        </ol>
		      </nav>
              <!-- Table Variants -->
              <table class="table">
                <thead>
                  <tr style="border-top:1px solid ; border-color:inherit;">
                    <th scope="col">진행 과정</th>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일</th>
                    <th scope="col">진척률</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">진행 중</th>
                    <td>1</td>
                    <td><a href="teamBoardContent">개발/컨트롤러 구성</a></td>
                    <td>이동민</td>
                    <td>2023-03-02</td>
                    <td>34%</td>
                  </tr>

                  
                  
                  <tr class="table-success">
                    <th scope="row">완료</th>
                    <td>Cell</td>
                    <td><a href="teamBoardContent">개발/컨트롤러 구성</a></td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                  </tr>
                  <!-- <tr class="table-danger">
                    <th scope="row">진행중</th>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    
                  </tr> -->
                </tbody>
              </table>
              <!-- End Table Variants -->
			<!-- 글 작성 버튼  -->
				<div style="display:flex; justify-content:right;">
			 		<button type="button" class="btn btn-dark" onclick="location.href='/userboards/teamBoardRegist'">작성하기</button>
			 		
				</div>
            </div>
            <!-- 페이지네이션 -->
            
	            <nav aria-label="Page navigation example" style="display:flex; justify-content:center;">
	                <ul class="pagination" >
	                  <li class="page-item">
	                    <a class="page-link" href="#" aria-label="Previous">
	                      <span aria-hidden="true">&laquo;</span>
	                    </a>
	                  </li>
	                  <li class="page-item"><a class="page-link" href="#">1</a></li>
	                  <li class="page-item"><a class="page-link" href="#">2</a></li>
	                  <li class="page-item"><a class="page-link" href="#">3</a></li>
	                  <li class="page-item">
	                    <a class="page-link" href="#" aria-label="Next">
	                      <span aria-hidden="true">&raquo;</span>
	                    </a>
	                  </li>
	                </ul>
	              </nav>  
	              
	              
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

    </div>

</th:block>

</html>