<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{./include/basic-layout :: 함수( ~{:: .wrap } ) }">

	<div class="wrap">
		<main id="main" class="main">

			<div class="pagetitle">
				<h1 class="card-title">
					<i class="bx bxs-star"></i> [[${pjVO.pjName}]]
				</h1>
				<h6 style="padding-bottom: 20px">
					<i class="ri-bookmark-fill"></i> [[${pjVO.pjDescription}]]
				</h6>

				<nav>


					<!-- Bordered Tabs Justified -->
					<ul class="nav nav-tabs nav-tabs-bordered d-flex"
						id="borderedTabJustified" role="tablist">
						<li class="nav-item" role="presentation" style="width: 10%">
							<button class="nav-link w-100" id="home-tab"
								data-bs-toggle="tab" data-bs-target="#bordered-justified-home"
								type="button" role="tab" aria-controls="home"
								aria-selected="true"
								th:onclick="|location.href='@{/project/project-started(pj_num=${param.pj_num})}'|">홈</button> <!-- 받아온get값 다른페이지로 넘기기 -->
						</li>
						<li class="nav-item" role="presentation" style="width: 10%">
							<button class="nav-link w-100" id="profile-tab"
								data-bs-toggle="tab"
								data-bs-target="#bordered-justified-profile" type="button"
								role="tab" aria-controls="profile" aria-selected="false"
								th:onclick="|location.href='@{/userboards/board-list(pj_num=${param.pj_num})}'|">게시판</button>
						</li>
						<li class="nav-item" role="presentation" style="width: 10%">
							<button class="nav-link w-100 active" id="contact-tab"
								data-bs-toggle="tab"
								data-bs-target="#bordered-justified-contact" type="button"
								role="tab" aria-controls="contact" aria-selected="false"
								th:onclick="|location.href='@{/project/project-calendar(pj_num=${param.pj_num})}'|">캘린더</button>
						</li>
						<li class="nav-item" role="presentation" style="width: 10%">
							<button class="nav-link w-100" id="contact-tab"
								data-bs-toggle="tab"
								data-bs-target="#bordered-justified-contact" type="button"
								role="tab" aria-controls="contact" aria-selected="false"
								th:onclick="|location.href='@{/project/project-user-team-chart(pj_num=${param.pj_num})}'|">진척률</button>
						</li>
					</ul>
				</nav>
			</div>
			<!-- End Page Title -->

			<div class="card-body" style="background-color: white; padding-top: 20px;">

					<div id='calendar'></div>

			</div>


		</main>
		<!-- End #main -->
	</div>

</th:block>
<script src='/assets/dist/index.global.js'></script>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		var calendarEl = document.getElementById('calendar');

		var calendar = new FullCalendar.Calendar(calendarEl, {
			headerToolbar : {
				left : 'prevYear,prev,next,nextYear today',
				center : 'title',
				right : 'dayGridMonth,dayGridWeek,dayGridDay'
			},
			initialDate : '2023-01-12',
			navLinks : true, // can click day/week names to navigate views
			editable : true,
			dayMaxEvents : true, // allow "more" link when too many events
			events : [ {
				title : 'All Day Event',
				start : '2023-01-01'
			}, {
				title : 'Long Event',
				start : '2023-01-07',
				end : '2023-01-10'
			}, {
				groupId : 999,
				title : 'Repeating Event',
				start : '2023-01-09T16:00:00'
			}, {
				groupId : 999,
				title : 'Repeating Event',
				start : '2023-01-16T16:00:00'
			}, {
				title : 'Conference',
				start : '2023-01-11',
				end : '2023-01-13'
			}, {
				title : 'Meeting',
				start : '2023-01-12T10:30:00',
				end : '2023-01-12T12:30:00'
			}, {
				title : 'Lunch',
				start : '2023-01-12T12:00:00'
			}, {
				title : 'Meeting',
				start : '2023-01-12T14:30:00'
			}, {
				title : 'Happy Hour',
				start : '2023-01-12T17:30:00'
			}, {
				title : 'Dinner',
				start : '2023-01-12T20:00:00'
			}, {
				title : 'Birthday Party',
				start : '2023-01-13T07:00:00'
			}, {
				title : 'Click for Google',
				url : 'http://google.com/',
				start : '2023-01-28'
			} ]
		});

		calendar.render();



	// 달력 윗부분 색깔 바꾸기
	// assets/dist/index.global.js 파일 7648줄 fc-button-bg-color 속성 변경하면 됨

	// 달력 자체의 글자 색깔 바꾸기
	// style.css 파일 21줄 참고

	});

</script>
<style>
body {
	margin: 40px 10px;
	padding: 0;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
}

#calendar {
	max-width: 1100px;
	margin: 0 auto;
}
</style>
</html>
