<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/assets/css/modal.css" />

<th:block th:replace="~{./include/basicLayout :: 함수( ~{:: .wrap } ) }">


<div class="wrap">
	<main id="main" class="main">

    <div class="pagetitle">
      <h1>프로젝트 생성</h1>
      <nav>
        <ol class="breadcrumb">
         
        </ol>
      </nav>
    </div><!-- End Page Title -->
	
	<section class="section">
      <div class="row" style="justify-content:center">
        <div class="col-lg-6" >

          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center">프로젝트 생성</h5>
              
              <hr/>
              <input class="form-control" type="text" placeholder="프로젝트 제목을 입력하세요."><br>
              <input class="form-control" type="text" placeholder="프로젝트에 관한 설명 입력(옵션)" style="height: 100px"><br>
              	<input class="form-control" type="text" readonly value="팀원 목록" >
              	<div style="padding-top:10px"></div>
              	<button class="modalOn btn btn-primary w-20">프로젝트 팀원 초대하기</button>
              	<div style="padding-top:20px"></div>
              	
              	<input class="form-control" type="text" readonly value="옵저버 목록">
              	<div style="padding-top:10px"></div>
              	<div style="width:100%;">
	              	<button class="modalOn btn btn-primary w-20" style="float:left;">프로젝트 옵저버 초대하기</button>
	              	<form action="/project/projectStarted">
					<button style="float:right;" class="btn btn-primary w-20" type="submit">프로젝트 생성하기</button>
					</form>
				</div>
            </div>
          </div>

        </div>

      </div>
    </section>
	
    <!-- 모달창 -->
		<div id="basicModal" class="modal-overlay">
			<div class="modal-content">
				<p class="title"></p>
	
				<div class="content">
					<div class="sub-form">
						<input type="text" class="form-control" placeholder="이름 혹은 부서를 입력하세요">
						<div style="float:right; padding-top:10px; padding-bottom:10px">
						<button class="btn btn-primary w-20">검색</button>
						</div>
						<select class="form-select">
							<option>강민정</option>
							<option>권도은</option>
							<option>이동민</option>
							<option>이서윤</option>
							<option>이세민</option>
							<option>이승완</option>
						</select>							
		              	<div style="float:right; padding-top:10px; padding-bottom:10px">
						<button class="btn btn-primary w-20">추가</button>
		              	</div>
						
		              	<input class="form-control" type="text" readonly value="추가목록">		
		              	<div style="padding-top:20px"></div>				
						<button class="modalOff btn btn-primary w-20">완료</button>
					</div>
					</div>
				</div>


			</div>

		</main>
		
	</div>

</th:block>
	<script src="/assets/js/modal.js"></script>
	<script>
	$(".modalOn").click(function(e) {
			$("#basicModal").children().find(".title").html(e.target.innerHTML);
	});
	</script>

</html>