<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{./include/basicLayout :: 함수( ~{:: .wrap } ) }">

<div class="wrap">
  <main id="main" class="main">

	<div class="pagetitle">
			<h1 class="card-title">
					<i class="bx bxs-star"></i> [[${pjVO.pj_name}]]
				</h1>
				<h6 style="padding-bottom: 20px">
					<i class="ri-bookmark-fill"></i> [[${pjVO.pj_description}]]
				</h6>
				<nav>


					<!-- Bordered Tabs Justified -->
					<ul class="nav nav-tabs nav-tabs-bordered d-flex"
						id="borderedTabJustified" role="tablist">
						<li class="nav-item" role="presentation" style="width: 10%">
							<button class="nav-link w-100" id="home-tab"
								data-bs-toggle="tab" data-bs-target="#bordered-justified-home"
								type="button" role="tab" aria-controls="home"
								aria-selected="true"
								onclick="location.href='/project/projectStarted'">홈</button>
						</li>
						<li class="nav-item" role="presentation" style="width: 10%">
							<button class="nav-link w-100" id="profile-tab"
								data-bs-toggle="tab"
								data-bs-target="#bordered-justified-profile" type="button"
								role="tab" aria-controls="profile" aria-selected="false"
								onclick="location.href='/userboards/teamBoardList'">게시판</button>
						</li>
						<li class="nav-item" role="presentation" style="width: 10%">
							<button class="nav-link w-100" id="contact-tab"
								data-bs-toggle="tab"
								data-bs-target="#bordered-justified-contact" type="button"
								role="tab" aria-controls="contact" aria-selected="false"
								onclick="location.href='/project/projectCalendar'">캘린더</button>
						</li>
						<li class="nav-item" role="presentation" style="width: 10%">
							<button class="nav-link w-100 active" id="contact-tab"
								data-bs-toggle="tab"
								data-bs-target="#bordered-justified-contact" type="button"
								role="tab" aria-controls="contact" aria-selected="false"
								onclick="location.href='/project/projectUserTeamChart'">진척률</button>
						</li>
					</ul>
				</nav>
			</div>
			<!-- End Page Title -->


    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">팀 진척률 보기</li>
          <li class="breadcrumb-item" onclick="location.href='/project/projectUserMyChart'" style="cursor:pointer">내 진척률 보기</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    
   
		 <section class="section">
      <div class="row">

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">주 단위 진척률</h5>

              <!-- Line Chart -->
              <canvas id="lineChart" style="max-height: 400px;"></canvas>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#lineChart'), {
                    type: 'line',
                    data: {
                      labels: ['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '일요일'],
                      datasets: [{
                        label: '요일별',
                        data: [65, 59, 80, 81, 56, 55, 40],
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                      }]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  });
                });
              </script>
              <!-- End Line CHart -->

            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">월 단위 진척률</h5>

              <!-- Bar Chart -->
              <canvas id="barChart" style="max-height: 400px;"></canvas>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#barChart'), {
                    type: 'bar',
                    data: {
                      labels: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                      datasets: [{
                        label: '월 별',
                        data: [65, 59, 80, 81, 56, 55, 40, 35, 25, 15, 15, 24],
                        backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(255, 159, 64, 0.2)',
                          'rgba(255, 205, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(201, 203, 207, 0.2)'
                        ],
                        borderColor: [
                          'rgb(255, 99, 132)',
                          'rgb(255, 159, 64)',
                          'rgb(255, 205, 86)',
                          'rgb(75, 192, 192)',
                          'rgb(54, 162, 235)',
                          'rgb(153, 102, 255)',
                          'rgb(201, 203, 207)'
                        ],
                        borderWidth: 1
                      }]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  });
                });
              </script>
              <!-- End Bar CHart -->

            </div>
          </div>
        </div>
        
         <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">항목 별 통계</h5>

              <!-- Doughnut Chart -->
              <canvas id="doughnutChart" style="max-height: 400px;"></canvas>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#doughnutChart'), {
                    type: 'doughnut',
                    data: {
                      labels: [
                        '개발1',
                        '개발2',
                        '개발3'
                      ],
                      datasets: [{
                        label: 'My First Dataset',
                        data: [300, 50, 100],
                        backgroundColor: [
                          'rgb(255, 99, 132)',
                          'rgb(54, 162, 235)',
                          'rgb(255, 205, 86)'
                        ],
                        hoverOffset: 4
                      }]
                    }
                  });
                });
              </script>
              <!-- End Doughnut CHart -->

            </div>
          </div>
        </div>
        
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">팀원 별 진척률</h5>

              <!-- Polar Area Chart -->
              <canvas id="polarAreaChart" style="max-height: 400px;"></canvas>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#polarAreaChart'), {
                    type: 'polarArea',
                    data: {
                      labels: [
                        '강민정',
                        '권도은',
                        '이세민',
                        '이동민',
                        '이승완',
                        '이서윤'
                      ],
                      datasets: [{
                        label: 'My First Dataset',
                        data: [15, 15, 15, 15, 20, 20],
                        backgroundColor: [
                          'rgb(255, 99, 132)',
                          'rgb(75, 192, 192)',
                          'rgb(255, 205, 86)',
                          'rgb(201, 203, 207)',
                          'rgb(54, 162, 235)',
                          'rgb(33, 34, 35)'
                        ]
                      }]
                    }
                  });
                });
              </script>
              <!-- End Polar Area Chart -->

            </div>
          </div>
        </div>
        
         </div>
    </section>
        

   
  </main><!-- End #main -->
</div>
</th:block>

</html>