<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/assets/css/modal.css" />
<th:block th:replace="~{./include/basicLayout :: 함수( ~{:: .wrap } ) }">

	<div class="wrap">

		<main id="main" class="main">

			<div class="pagetitle">
				<h1>팀 목록</h1>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Home</a></li>
						<li class="breadcrumb-item">Tables</li>
						<li class="breadcrumb-item active">General</li>
					</ol>
				</nav>
			</div>
			<!-- End Page Title -->

			<section class="section">
				<div class="row">
					<div class="col-lg-12">

						<div class="card">
							<div class="card-body">
								<div style="margin: 20px 0px;height:40px">
								<!-- 일정관리 검색창 -->
               					<div class="search-bar" >
			      					<form class="search-form d-flex align-items-center" method="POST" action="#" style="justify-content:right;" >
			      					<select class="form-select" style="float:right;height:34px;width:150px;margin:10px">
										<option>팀명으로 검색</option>
										<option>팀장으로 검색</option>
										<option>팀 생성일로 검색</option>
										<option>팀 활성화/비활성화로 검색</option>
									</select> 
			      				<div style="border:1px solid gray; border-radius:4px">
			        				<input type="text" name="query" placeholder="Search" title="Enter search keyword" style=" border:none; padding:10px; outline:none;">
			        				<button type="submit" title="Search" style="background-color:transparent; border:none;"><i class="bi bi-search"></i></button>
			        			</div>
			    				</form>
			    				</div><!-- End Search Bar -->
									<select class="form-select" style="float: right;height:34px;width : 140px; margin-bottom:7px">
										<option>10개씩 보기</option>
										<option>20개씩 보기</option>
										<option>50개씩 보기</option>
									</select>
								</div>

								<!-- Bordered Table -->
								<table class="table table-bordered"
									style="text-align: center; margin-top: 20px">
									
									<thead>
										<tr>

											<th scope="col" style="line-height:30px;height:30px">팀명</th>
											<th scope="col" style="line-height:30px;height:30px">팀장</th>
											<th scope="col" style="line-height:30px;height:30px">팀 생성일</th>
											<th scope="col" style="line-height:30px;height:30px">팀원 수</th>
											<th scope="col" style="line-height:30px;height:30px">팀 상세보기</th>
											<th scope="col" style="line-height:30px;height:30px">팀 수정</th>
											<th scope="col" style="line-height:30px;height:30px">팀 활성화 여부</th>
											<th scope="col" style="line-height:30px;height:30px">팀 삭제<hr style="margin:0" /><div><input class="form-check-input"
												type="checkbox" id="gridCheck1" name="projectDelete"
												onclick="selectAllProjectDelete(this)"></div></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">최종프로젝트</th>

											<td>이승완</td>
											<td>2023/03/04</td>
											<td>6</td>
											<td><span class="badge bg-primary modalOn"
												style="cursor: pointer">팀 상세보기</span></td>
											<td><span class="badge bg-primary modalOn"
												style="cursor: pointer">팀 수정하기</span></td>

											<td><select>
													<option selected>활성화</option>
													<option>비활성화</option>
											</select></td>
											<td><input class="form-check-input" type="checkbox"
												id="gridCheck1" name="projectDelete"></td>
										</tr>
										<tr>
											<th scope="row">4강의실</th>

											<td>박인욱</td>
											<td>2023/03/04</td>
											<td>28</td>
											<td><span class="badge bg-primary modalOn"
												style="cursor: pointer">팀 상세보기</span></td>
											<td><span class="badge bg-primary modalOn"
												style="cursor: pointer">팀 수정하기</span></td>
											<td><select>
													<option>활성화</option>
													<option selected>비활성화</option>
											</select></td>
											<td><input class="form-check-input" type="checkbox"
												id="gridCheck1" name="projectDelete"></td>
										</tr>

									</tbody>
								</table>
								<!-- End Bordered Table -->
								<button type="button" class="btn btn-danger"
									style="float: right">완료</button>
							</div>
							<div style="margin: 0 auto">
								<ul class="pagination">
									<li class="page-item disabled"><a class="page-link"
										href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item active" aria-current="page"><a
										class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#">Next</a>
									</li>
								</ul>
							</div>
						</div>


					</div>
				</div>
			</section>


			<!-- 모달창 -->
			<div id="basicModal" class="modal-overlay">
				<div class="modal-content">
					<p class="title"></p>
					<div class="content">
						<div class="sub-form">
							<div>
								<input type="text" class="form-control"
									placeholder="이름 혹은 부서를 입력하세요" style="width: 90%; float: left">
								<button class="btn btn-primary w-20">검색</button>
							</div>
							<div style="padding-top: 10px">
								<textarea class="form-control"
									style="height: 150px; width: 100%; resize: none; float: left; overflow: auto;"
									readonly>검색 후 선택한 사람 들어가는 항목</textarea>
							</div>

							<div style="padding-top: 160px">
								<textarea class="form-control"
									style="height: 100px; width: 48%; resize: none; float: left;"
									readonly>현재 팀원 목록</textarea>
								<textarea class="form-control"
									style="height: 100px; width: 48%; resize: none; float: right"
									readonly>수정할 팀원 목록</textarea>
							</div>

							<div style="text-align: center;">
								<button class="btn btn-primary w-20 modalOff ">확인</button>
							</div>
							<!-- 						
		              	<div style="float:right; padding-top:10px; padding-bottom:10px">
						<button class="btn btn-primary w-20">추가</button>
		              	</div>
						
		              	<input class="form-control" type="text" readonly value="추가목록">		
		              	<div style="padding-top:20px"></div>				
						<button class="modalOff btn btn-primary w-20">완료</button> -->
						</div>
					</div>
					<div style="margin: 0 auto">
						<ul class="pagination">
							<li class="page-item disabled"><a class="page-link" href="#"
								tabindex="-1" aria-disabled="true">Previous</a></li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item active" aria-current="page"><a
								class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">Next</a>
							</li>
						</ul>
					</div>
				</div>


			</div>

		</main>
		<!-- End #main -->

	</div>

</th:block>
<script src="/assets/js/modal.js"></script>

<script>
	//모달창 구현
	$(".modalOn").click(function(e) {
			$("#basicModal").children().find(".title").html(e.target.innerHTML +":: "+e.target.parentElement.parentElement.children[0].innerHTML);
	});
	</script>
<script>
	//프로젝트 삭제 전체선택
	function selectAllProjectDelete(selectAll) {
			const checkboxes = document.getElementsByName('projectDelete');
		  
		 	checkboxes.forEach((checkbox) => {
		    	checkbox.checked = selectAll.checked;
		  	})
		}
	</script>
</html>