<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/assets/css/modal.css" />

<th:block th:replace="~{./include/basicLayout :: 함수( ~{:: .wrap } ) }">

	<div class="wrap">

		<main id="main" class="main">

			<div class="pagetitle">
				<h1>통계</h1>
				
			</div>
			<!-- End Page Title -->

			<section class="section">
				<div class="row">
					<div class="col-lg-12">

						<div class="card">
							<div class="card-body">
								<div style="margin: 20px 0px;height:40px">
								<!-- 일정관리 검색창 -->
               					<div class="search-bar" >
			      					<form class="search-form d-flex align-items-center" method="POST" action="#" style="justify-content:right;" >
			      					<select class="form-select" style="float:right;height:34px;width:150px;margin:10px">
										<option>프로젝트 명으로 검색</option>
										<option>팀장으로 검색</option>
										<option>프로젝트 생성일로 검색</option>
										<option>완료/미완료로 검색</option>
									</select> 
			      				<div style="border:1px solid gray; border-radius:4px">
			        				<input type="text" name="query" placeholder="Search" title="Enter search keyword" style=" border:none; padding:10px; outline:none;">
			        				<button type="submit" title="Search" style="background-color:transparent; border:none;"><i class="bi bi-search"></i></button>
			        			</div>
			    				</form>
			    				</div><!-- End Search Bar -->
									<select class="form-select" style="float: right;height:34px;width : 140px; margin-bottom:7px">
										<option>10개씩 보기</option>
										<option>20개씩 보기</option>
										<option>50개씩 보기</option>
									</select>
								</div>



								<!-- Bordered Table -->
								<table class="table table-bordered"
									style="text-align: center; margin-top: 20px">
									<thead>
										<tr>
											
											<th scope="col">프로젝트 명</th>
											<th scope="col">팀장</th>
											<th scope="col">프로젝트 생성일</th>
											<th scope="col">완료/미완료</th>
											<th scope="col">진척률 현황</th>
											<th scope="col">통계 상세보기</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											
											<td>double z</td>
											<td>짱구</td>
											<td>2023/03/04</td>
											<td>완료</td>
											<td><div class="progress">
													<div class="progress-bar" role="progressbar"
														style="width: 25%" aria-valuenow="25" aria-valuemin="0"
														aria-valuemax="100">25%</div>
												</div>
												</td>
											<td><span class="badge bg-primary modalOn"
												style="cursor: pointer">통계 상세보기</span></td>
										</tr>
										<tr>
											
											<td>bread</td>
											<td>철수</td>
											<td>2023/03/04</td>
											<td>미완료</td>
											<td><div class="progress">
													<div class="progress-bar" role="progressbar"
														style="width: 70%" aria-valuenow="70" aria-valuemin="0"
														aria-valuemax="100">70%</div>
												</div>
												</td>
											<td><span class="badge bg-primary modalOn"
												style="cursor: pointer">통계 상세보기</span></td>
										</tr>
										<tr>
											
											<td>mom</td>
											<td>유리</td>
											<td>2023/03/04</td>
											<td>미완료</td>
											<td><div class="progress">
													<div class="progress-bar" role="progressbar"
														style="width: 0%" aria-valuenow="0" aria-valuemin="0"
														aria-valuemax="100">0%</div>
												</div>
												</td>
											<td><span class="badge bg-primary modalOn"
												style="cursor: pointer">통계 상세보기</span></td>
										</tr>
										<tr>
											
											<td>mimi</td>
											<td>맹구</td>
											<td>2023/03/04</td>
											<td>미완료</td>
											<td><div class="progress">
													<div class="progress-bar" role="progressbar"
														style="width: 30%" aria-valuenow="30" aria-valuemin="0"
														aria-valuemax="100">30%</div>
												</div>
												</td>
											<td><span class="badge bg-primary modalOn"
												style="cursor: pointer">통계 상세보기</span></td>
										</tr>
										<tr>
											
											<td>hoon</td>
											<td>훈이</td>
											<td>2023/03/04</td>
											<td>미완료</td>
											<td><div class="progress">
													<div class="progress-bar" role="progressbar"
														style="width: 45%" aria-valuenow="0" aria-valuemin="0"
														aria-valuemax="100">45%</div>
												</div>
												</td>
											<td><span class="badge bg-primary modalOn"
												style="cursor: pointer">통계 상세보기</span></td>
										</tr>
									</tbody>
								</table>
								<!-- End Bordered Table -->
							</div>
							<div style="margin: 0 auto">
								<ul class="pagination">
									<li class="page-item disabled"><a class="page-link"
										href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item active" aria-current="page"><a
										class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#">Next</a>
									</li>
								</ul>
							</div>
						</div>


					</div>
				</div>
			</section>

			<!-- 모달창 -->
			<div id="basicModal" class="modal-overlay">
				<div class="modal-content">
					<p class="title"></p>
					<div class="content">
						<div class="sub-form">

							<h5 class="card-title">팀원 진척률</h5>

							<!-- Bar Chart -->
							<canvas id="barChart" style="max-height: 400px;"></canvas>
							<script>
				                document.addEventListener("DOMContentLoaded", () => {
				                  new Chart(document.querySelector('#barChart'), {
				                    type: 'bar',
				                    data: {
				                      labels: ['강민정', '권도은', '이동민', '이세민', '이승완', '이서윤'],
				                      datasets: [{
				                        label: '진행',
				                        data: [65, 59, 80, 81, 56, 55 ],
				                        backgroundColor: [
				                          'rgba(255, 99, 132, 0.2)',
				                          'rgba(255, 159, 64, 0.2)',
				                          'rgba(255, 205, 86, 0.2)',
				                          'rgba(75, 192, 192, 0.2)',
				                          'rgba(54, 162, 235, 0.2)',
				                          'rgba(153, 102, 255, 0.2)',
				                          'rgba(201, 203, 207, 0.2)'
				                        ],
				                        borderColor: [
				                          'rgb(255, 99, 132)',
				                          'rgb(255, 159, 64)',
				                          'rgb(255, 205, 86)',
				                          'rgb(75, 192, 192)',
				                          'rgb(54, 162, 235)',
				                          'rgb(153, 102, 255)',
				                          'rgb(201, 203, 207)'
				                        ],
				                        borderWidth: 1
				                      }]
				                    },
				                    options: {
				                      scales: {
				                        y: {
				                          beginAtZero: true
				                        }
				                      }
				                    }
				                  });
				                });
				              </script>
							<!-- End Bar CHart -->



							<!-- 						
		              	<div style="float:right; padding-top:10px; padding-bottom:10px">
						<button class="btn btn-primary w-20">추가</button>
		              	</div>
						
		              	<input class="form-control" type="text" readonly value="추가목록">		
		              	<div style="padding-top:20px"></div>				
						<button class="modalOff btn btn-primary w-20">완료</button> -->
						</div>
					</div>
					
					<div style="text-align: center; margin-top:60px;">
						<button class="btn btn-primary w-20 modalOff ">확인</button>
					</div>
					
				</div>


			</div>
			

		</main>
		<!-- End #main -->

	</div>

</th:block>
<script src="/assets/js/modal.js"></script>
<script>
	//모달창 구현
	$(".modalOn").click(function(e) {
			$("#basicModal").children().find(".title").html(e.target.innerHTML +":: "+e.target.parentElement.parentElement.children[0].innerHTML);
	});
	</script>
</html>