<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{./include/basicLayout :: 함수( ~{:: .wrap } ) }">

<div class="wrap">

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>프로젝트 목록</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
            	 
            	 <div style="margin-top:20px">
            	 <input type="text" class="form-control" style="width:30%; float:left">
               	 <button type="button" class="btn btn-outline-dark" style="display:inline;"><i class="ri ri-search-line"></i></button>
            	 </div>
    			 
    			 
              <!-- Bordered Table -->
              <table class="table table-bordered" style="text-align:center; margin-top:20px">
                <thead>
                  <tr>
                    <th scope="col">글 번호</th>
                    <th scope="col">프로젝트명</th>
                    <th scope="col">팀장</th>
                    <th scope="col">팀원수</th>
                    <th scope="col">팀수정</th>
                    <th scope="col">팀삭제</th>
                    <th scope="col">프로젝트 삭제여부</th>
                  </tr>
                </thead>
                <thead>
                  <tr>
                    <th scope="col" colspan="5"></th>
                    <th scope="col" colspan="2">전체 선택하기 <input class="form-check-input" type="checkbox" id="gridCheck1"></th>
            	 </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>자산운용 서비스</td>
                    <td>이정재</td>
                    <td>10</td>
                    <td><button type="button" class="btn btn-secondary">수정하기</button></td>
                    <td><input class="form-check-input" type="checkbox" id="gridCheck1"></td>
                    <td>N</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>게시판</td>
                    <td>안철수</td>
                    <td>2</td>
                    <td><button type="button" class="btn btn-secondary">수정하기</button></td>
                    <td><input class="form-check-input" type="checkbox" id="gridCheck1"></td>
                    <td>N</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>시세정보</td>
                    <td>지창욱</td>
                    <td>3</td>
                    <td><button type="button" class="btn btn-secondary">수정하기</button></td>
                    <td><input class="form-check-input" type="checkbox" id="gridCheck1"></td>
                    <td>N</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>박람회</td>
                    <td>유지태</td>
                    <td>4</td>
                    <td><button type="button" class="btn btn-secondary">수정하기</button></td>
                    <td><input class="form-check-input" type="checkbox" id="gridCheck1"></td>
                    <td>N</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>자산운용 서비스</td>
                    <td>이수진</td>
                    <td>6</td>
                    <td><button type="button" class="btn btn-secondary">수정하기</button></td>
                    <td><input class="form-check-input" type="checkbox" id="gridCheck1"></td>
                    <td>N</td>
                  </tr>
                </tbody>
              </table>
              <!-- End Bordered Table -->
              <button type="button" class="btn btn-danger" style="float:right">완료</button>
            </div>
          </div>


        </div>
      </div>
    </section>

  </main><!-- End #main -->

    </div>

</th:block>

</html>