<html xmlns:th="http://www.thymeleaf.org" id="html">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>중앙 소프트 일정관리 시스템</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="/assets/img/logo.png" rel="icon">
<link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="/assets/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet">
<link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/assets/css/style.css" rel="stylesheet">
<script src="/assets/js/jquery-1.12.1.min.js"></script>
<script src="/assets/js/jquery-ui.min.js"></script>


<!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->


</head>
<link rel="stylesheet" type="text/css" href="/assets/css/modal.css" />
<div class="wrap">
	<main id="main" class="main" style="margin: 0 auto">
		<div class="pagetitle" style="text-align: center; padding-top: 100px">
			<h1>폼미소프트 회원 가입하기 - 카카오</h1>
		</div>
		<!-- End Page Title -->
		<section class="section">
			<div class="row">
				<div class="col-lg-6" style="margin: 0 auto">
					<div class="card">
						<div class="card-body">
							<div class="pt-4 pb-2"></div>
							<form class="row g-3" id="RegistForm" action="/user/register-form" method="post">
								<div class="col-12">
									<div>
										<label for="yourName" class="form-label">이름</label> 
										<span id="nameWarning" style="color: red; font-size: 5px; float: right"></span>
									</div>
									<input type="text" name="userName" class="form-control" id="user_name" required>
								</div>
								<div class="col-12">
									<div>
										<label for="yourPhone" class="form-label">핸드폰 번호</label> 
										<span id="phoneWarning" style="color: red; font-size: 5px; float: right"></span>
									</div>
									<input type="text" name="userCell" class="form-control" id="user_cell" onkeyup="autoHyphen()" placeholder="숫자로만 입력해주세요" required>
								</div>
								<div class="col-12">
									<div>
										<label for="yourBirth" class="form-label">생년 월일</label> 
										<span id="birthWarning" style="color: red; font-size: 5px; float: right"></span>
									</div>
									<input type="text" name="userBirth" class="form-control" id="user_birth" placeholder="생년월일 8자리를 입력해주세요" required>
								</div>
								<div class="col-12">
									<div>
										<label for="department" class="form-label">담당 부서</label> 
										<span id="departmentWarning" style="color: red; font-size: 5px; float: right"></span>
									</div>
									<div id="ajax_getDepartment">
										<!-- 페이지 로드 시 ajax로 부서 끌어옴 -->
									</div>
								</div>
								<div class="col-12">
									<div>
										<label for="position" class="form-label">직급</label> 
										<span id="positionWarning" style="color: red; font-size: 5px; float: right"></span>
									</div>
									<select name="userPosition" class="form-control"
										id="user_position" required>
										<option>선택</option>
										<option>사원</option>
										<option>대리</option>
										<option>과장</option>
										<option>차장</option>
										<option>부장</option>
									</select>
								</div>
								<div class="col-12">
									<label class="form-check-label" for="acceptTerms">
									<input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>개인정보 약관에 동의합니다.</label> 
									<span class="modalOn" style="cursor: pointer">약관 자세히 보기</span> 
									<span id="termsWarning" style="color: red; font-size: 5px; float: right"></span>
								</div>
								<div class="col-12">
									<button class="btn btn-primary w-100" type="button" id="joinbutton" onclick="joinSubmit()">회원가입 하기</button>
								</div>
								<div class="col-12">
									<p class="small mb-0">이미 계정을 보유하고 계신가요?<a onclick="returnHome()" style="cursor:pointer"> 로그인하기</a></p>
								</div>
								<input style="display: none" type="text" name="userId" id="user_id" th:value="${id}">
								<input style="display: none" type="text" name="userPw" id="user_pw" th:value="${pw}">
								<input style="display: none" type="text" name="userEmail" id="user_email" th:value="${email}">
								<input style="display: none" name="userActive" value="1"></input>
								<input style="display: none" name="userImg" value="https://formmesoftimg.s3.ap-northeast-2.amazonaws.com/defaultImg.jpeg"></input>
								<input style="display: none" name="userRole" id="user_role" value="0"></input>
								<input style="display: none" name="userMethod" id="user_method" value="kakao"></input>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- 모달창 -->
		<div id="basicModal" class="modal-overlay">
			<div class="modal-content">
				<p class="title" style="padding-top: 20px;">약관 자세히 보기</p>
					<textarea style="resize: none; height: 500px;" readonly>
						폼미소프트 약관
					</textarea>
				<div align="center">
					<button class="modalOff btn btn-primary w-20" style="margin-top: 30px">완료</button>
				</div>
			</div>
		</div>
	</main>
	<!-- End #main -->
</div>
<script src="/assets/js/modal.js"></script>
<script src="/assets/js/user-register-kakao.js"></script>
<!-- 유효성 검사 코드 -->
<script th:inline="javascript">
	var msg = JSON.parse('[[${msg}]]');
	if(msg != null) {
		alert(msg);
	}	
</script>

</html>