<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{./include/basicLayout :: 함수( ~{:: .wrap } ) }">
	<div class="wrap">
		<main id="main" class="main">
			<div class="pagetitle" style="text-align:center">
				<h1>로그인</h1>
			</div>
			<!-- End Page Title -->
			<section class="section">
				<div class="row">
					<div class="col-lg-4" style="margin: 0 auto">
						<div class="card">
							<div class="card-body">
								<div class="pt-4 pb-2">

                  </div>

                  <form class="row g-3 needs-validation" novalidate>

                    <div class="col-12">
                        <input type="text" name="username" class="form-control" id="yourUsername" required placeholder="아이디">
                        <div class="invalid-feedback">아이디를 입력해주세요.</div>
                    </div>

                    <div class="col-12">
                      <input type="password" name="password" class="form-control" id="yourPassword" required placeholder="비밀번호">
                      <div class="invalid-feedback">비밀번호를 입력해주세요.</div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">아이디 기억하기</label>
                      </div>
                    </div>

                    <div class="col-12">
                     <a href="#">아이디 또는 비밀번호 찾기</a> <!-- 링크 만들기 -->
                     <br/>
                     <a href="/admin/noticeLogin">관리자로 로그인하기</a> <!-- 링크 만들기 -->
                    </div>
                    <div class="col-13">
                      <button class="btn btn-primary" type="submit" style="width:49%;">로그인</button>
	                     	<button style="width:49%;" class="btn btn-primary loginRegister" type="button" onclick="location.href='register'">
	                     	회원가입</button>
                      </div>
                  </form>
                  
                  	<div class="loginWrap">
                  	<div style="padding: 1px">
                      <button class="btn btn-primary w-100" type="button">카카오 로그인</button>
                    	</div>
                    	<br/>
                      <button class="btn btn-primary w-100" type="button">네이버 로그인</button>
                    </div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<!-- End #main -->
	</div>
</th:block>
</html>