<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.choongang.scheduleproject.service.AdminNoticeListMapper">
  	
  	<!-- 조회 + 페이징 처리 -->
	 <select id="getList" resultType="AdminNoticeListVO">
  		select * from admin_notice
  		
  		<if test="searchType == 'title'">where notice_title like concat('%' , #{search} , '%')</if>
  		<if test="searchType == 'regdate'">where notice_regdate like concat('%' , #{search} , '%')</if>
  		<if test="searchType == null or searchType == '' ">where 1 = 1</if>
  		order by notice_num desc
  		limit #{pageStart}, #{amount}	
  		
  	</select>	
  	
  	<!-- 검색 -->
  	<select id="getTotal" resultType="int">
  		<!-- select count(*) from admin_notice -->
  		select count(*) as total from admin_notice
  		where notice_writer = #{notice_id}
  		
		<if test="search != null and search != '' ">
		and notice_title like concat('%', #{search}, '%')
		</if>
		<if test="search != null and search != '' ">
		and notice_regdate like concat('%', #{search}, '%')
		</if>
  	</select>
  	
  	<!-- 검색 결과 개수 -->
  	<select id="getCount" resultType="int">
  		
  		select count(*) from admin_notice
             <choose>
                 <when test='searchType =="title" and search !=null'>
                 where notice_title like concat('%' , #{search},'%')
                 </when>
                 <when test='searchType =="regdate" and search !=null'>
                 where notice_regdate like concat('%' , #{search},'%')
                 </when>
           	 </choose>
  	</select>
  	
  	<!-- 상세 조회 -->
  	<select id="getContent" resultType="AdminNoticeListVO">
  		select notice_num,
  		       admin_id,
  		       notice_title,
  		       notice_content,
  		       notice_regdate,
  		       notice_writer,
  		       notice_note
  		  from admin_notice where notice_num = #{notice_num}
  	</select>
  	
  	
  	
  
  
  </mapper>