<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
    <mapper namespace="com.choongang.scheduleproject.project.service.ProjectMapper">
    
    <insert id="regist" parameterType="ProjectVO">
    	insert into USER_PROJECT(pj_name,
    							pj_description )
    		values ( #{pj_name},
    		 		#{pj_description} )
    </insert>
    
    
    
    <select id="getProjectMember" resultType="UserVO">
		select u.user_name, d.department_name, u.user_position from user_user 
			as u inner join user_department as d on u.department_id = d.department_id
       		right join mapping as m on m.user_id = u.user_id
       		where m.pj_num = #{pj_num};
    </select>
    
    <insert id="setChat" parameterType="ChatVO">
    	insert into user_chat (pj_num, chat_writer, chat_content, chat_regdate) 
    			values (#{pj_num},#{chat_writer},#{chat_content},now());
    	
    </insert>
    
    <select id="getChat" resultType="ChatVO">
    	select chat_num,chat_writer, chat_content, chat_regdate from user_chat
				where pj_num =#{pj_num};
    </select>
    
    <delete id="deleteChat" parameterType="int">
    	delete from user_chat where chat_num=#{chat_num};
    </delete>
    
    <update id="modifyChat" parameterType="map">
    	update user_chat set chat_content = #{modifyContent} where chat_num=#{chat_num};
    </update>
    
    
    
    
    </mapper>