<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choongang.scheduleproject.board.service.UserBoardMapper">

	<!-- 해당 프로젝트 게시판 리스트 출력 + 검색 -->
	<select id="getList" resultType="UserBoardVO">
		SELECT
		T.board_num, T.board_category,
		T.board_title, T.board_writer,
		T.board_regdate, T.board_startdate,
		T.board_enddate, T.board_process, T.user_name, T.row_num
		FROM (
		SELECT
		(@row_num:=@row_num+1) AS row_num,
		b.board_category,
		b.board_title,
		b.board_writer, b.board_regdate,
		b.board_startdate,
		b.board_enddate,
		b.board_process,
		b.board_num,
		u.user_name
		FROM
		user_board b
		left join user_user u
		on b.board_writer = u.user_id,
		(SELECT @row_num:=0) AS tmp
		WHERE
		b.pj_num = #{pjNum}
		<choose>
			<when
				test='cri.searchType == "boardCategory" and cri.search != null'>
				and board_category like concat('%', #{cri.search}, '%')
			</when>
			<when
				test='cri.searchType == "boardTitle" and cri.search != null'>
				and board_title like concat('%', #{cri.search}, '%')
			</when>
			<when
				test='cri.searchType == "boardWriter" and cri.search != null'>
				and board_writer like concat('%', #{cri.search}, '%')
			</when>
			<when
				test='cri.searchType == "boardRegdate" and cri.search != null'>
				and board_regdate like concat('%', #{cri.search}, '%')
			</when>
			<when
				test='cri.searchType == "boardStartdate" and cri.search != null'>
				and board_startdate like concat('%', #{cri.search}, '%')
			</when>
			<when
				test='cri.searchType == "boardEnddate" and cri.search != null'>
				and board_enddate like concat('%', #{cri.search}, '%')
			</when>
		</choose>
		ORDER BY board_num DESC
		LIMIT #{cri.pageStart}, #{cri.amount}
		) T;
	</select>


	<!-- 검색 결과의 갯수 -->
	<select id="getCount" resultType="int">
		select count(*) as total from user_board
		where pj_num = #{pjNum}
		<choose>
			<when
				test='cri.searchType == "boardCategory" and cri.search != null'>
				and board_category like concat('%', #{cri.search}, '%')
			</when>
			<when
				test='cri.searchType == "boardTitle" and cri.search != null'>
				and board_title like concat('%', #{cri.search}, '%')
			</when>
			<when
				test='cri.searchType == "boardWriter" and cri.search != null'>
				and board_writer like concat('%', #{cri.search}, '%')
			</when>
			<when
				test='cri.searchType == "boardRegdate" and cri.search != null'>
				and board_regdate like concat('%', #{cri.search}, '%')
			</when>
			<when
				test='cri.searchType == "boardStartdate" and cri.search != null'>
				and board_startdate like concat('%', #{cri.search}, '%')
			</when>
			<when
				test='cri.searchType == "boardEnddate" and cri.search != null'>
				and board_enddate like concat('%', #{cri.search}, '%')
			</when>
		</choose>
	</select>
	
	<!-- 글 등록 -->
	<insert id = "getContent" parameterType="map">
	insert into user_board (
	pj_num, board_title, board_writer, board_process,
	board_startdate, board_enddate, board_content,
	board_category)
	values( #{vo.pjNum}, #{vo.boardTitle}, #{vo.boardWriter}, 
        #{vo.boardProcess}, #{vo.boardStartdate}, #{vo.boardEnddate},
        #{vo.boardContent}, #{vo.boardCategory})
	</insert>
	
	<!-- 파일 등록 -->
	<insert id="fileUploadList" parameterType="fileVO">
		<selectKey keyProperty="boardNum" resultType="int" order="BEFORE">
				SELECT MAX(board_num) from user_board
		</selectKey>
		insert into user_boardfile (
		board_num, boardfile_path, boardfile_name)
		values (#{boardNum}, #{boardfilePath}, #{boardfileName})
	</insert>
	
	<!-- boardList에서 observer 값 받아오기 -->
	<select id="getObserver" resultType="String">
	select user_id from mapping
	where pj_num = #{pjNum}
	and is_observer = 1;
	</select>
	
	<!-- 글 상세 조회 -->
	<select id="detailContent" resultType="UserBoardVO">
	SELECT b.board_num, b.board_title, b.board_process, 
	b.board_startdate, b.board_enddate, b.board_content,
	b.board_category, u.user_name 
	FROM user_board b
	LEFT JOIN user_user u ON b.board_writer = u.user_id
	WHERE pj_num = ${pjNum} and board_num = ${boardNum};
	</select>
	
	<select id="fileList" resultType="FileVO">
	SELECT boardfile_num, board_num, boardfile_path, boardfile_name, board_dcheck
	FROM user_boardfile 
	WHERE board_num = ${boardNum};
	</select>
	
</mapper>